* {
    box-sizing: border-box;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  a:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
  
  .photo-card {
    border: 1px solid slategrey;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
  
    gap: 20px;
    margin: 15px;
  }
  
  img {
    display: block;
  }
  
  .info {
    display: flex;
    justify-content: space-around;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }